.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  width: 1200px;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
.app-wrapper {
  background-color: #fff;
  min-width: 350px;
  min-height: 300px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.Aboutcontainer {
  /* background: linear-gradient(135deg, #850c62, #f80759); */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
